@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#100901 ;
  color: #fff;
}

.title-gradient {
  background: linear-gradient(90deg, rgba(254,243,224,1) 0%, rgba(253,222,173,1) 18%, rgba(250,188,91,1) 43%, rgba(250,188,91,1) 77%);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}