@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-Black: #0c0700;
  --background-White: #fff;
  --color-White: #f0ecde;
  --color-Black: #0c0700;
}

body {
  background-color:var(--background-White);
  color: var(--color-Black);
}

.title-gradient {
  background: linear-gradient(90deg, rgb(118, 75, 1) 0%, rgb(172, 128, 62) 18%, rgb(222, 185, 126) 43%, rgba(250,188,91,1) 77%);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}